---
import { Image } from 'astro:assets';
import cocktails from '../assets/cocktails.png';
import Link from './Link.astro';
---

<section>
	<div class="container grid grid-cols-1 md:grid-cols-2 mt-8 md:mt-20">
		<div class="flex flex-col">
			<p class="font-semibold text-paragraph">
				Seijaku: mai mult decât un bar, un sanctuar pentru gusturi fine și ospitalitate autentică.
				Lasă zgomotul mental afară și trăiește liniștea cu noi.
			</p>
			<div class="mt-8">
				<Link
					href="#"
					theme="primary"
					text="Explorează"
					text="Explorează"
					icon={{
						name: 'bi:arrow-right-circle',
						side: 'right',
					}}
					classes="uppercase w-full xs:w-auto"
				/>
			</div>
			<Image
				src={cocktails}
				alt="Old fashioned cocktail si Negroni"
				format="avif"
				quality="80"
				loading="lazy"
				class="w-full h-auto mt-16"
			/>
		</div>
		<div>
			<p class="font-normal text-paragraph mt-8">
				Fiecare cocktail poartă o poveste, o istorie a gusturilor rafinate și a serviciilor care
				depășesc așteptările. Vino și lasă-te cucerit de măiestria noastră.
			</p>
		</div>
	</div>
</section>
