---

---

<footer>
	<div class="relative">
		<img
			class="w-full imagine-footer aspect-[16/9] object-cover object-bottom md:object-center"
			src="/uidaily/seijaku/images/3cocktails.webp"
			alt="Trei cocktailuri pe un platou de lemn"
			sizes="100vw"
			srcset="
        /uidaily/seijaku/images/3cocktails-360.webp 360w,
        /uidaily/seijaku/images/3cocktails-720.webp 720w,
        /uidaily/seijaku/images/3cocktails-1080.webp 1080w,
        /uidaily/seijaku/images/3cocktails-375.webp 375w,
        /uidaily/seijaku/images/3cocktails-750.webp 750w,
        /uidaily/seijaku/images/3cocktails-1125.webp 1125w,
        /uidaily/seijaku/images/3cocktails-414.webp 414w,
        /uidaily/seijaku/images/3cocktails-828.webp 828w,
        /uidaily/seijaku/images/3cocktails-1236.webp 1236w,
        /uidaily/seijaku/images/3cocktails-768.webp 768w,
        /uidaily/seijaku/images/3cocktails-1536.webp 1536w,
        /uidaily/seijaku/images/3cocktails-1152.webp 1152w,
        /uidaily/seijaku/images/3cocktails-1024.webp 1024w,
        /uidaily/seijaku/images/3cocktails-1366.webp 1366w,
        /uidaily/seijaku/images/3cocktails-1920.webp 1920w,
				/uidaily/seijaku/images/3cocktails-2048.webp 2048w,
        /uidaily/seijaku/images/3cocktails-2560.webp 2560w,
    "
		/>
		<div
			class="w-full h-full absolute flex justify-center items-center
             bg-black/30 backdrop-brightness-75 inset-0"
		>
		</div>
		<div
			class="flex items-center justify-center text-center absolute left-1/2 -translate-x-1/2 w-[87.2%] h-[50%] top-1/2 -translate-y-1/2"
		>
			<div class="flex-1">
				<p class="text-white footertitle font-black">Unde ne găsești?</p>
				<p class="text-white footertext mt-6 font-semibold">Timișoara, Strada Carpenului 3</p>
			</div>
		</div>
	</div>

	<div class="border-black border-b-2 mb-8">
		<div class="container grid grid-cols-2 mt-8 md:mt-20 mb-8">
			<div class="text-paragraph font-semibold">
				<p>Meniu</p>
				<p>Despre noi</p>
				<p>Contact</p>
			</div>
			<div class="text-paragraph">
				<p class="font-semibold">Orele la care te servim</p>
				<p class="mt-4">
					Luni - Vineri: 5pm - 12am<br />
					 Sambata: 10am - 12am<br />
					 Duminica: Inchis
				</p>
			</div>
		</div>
	</div>
	<p class="container font-bold text-paragraph mb-12">2023 - Seijaku Craft Cocktails</p>
</footer>
