---

---

<header>
  <nav class="border-b-2 border-black">
    <div class="bg-main-bg container flex flex-wrap items-center justify-between py-8 text-dark-text ">
        <a href="#" class=" font-bold uppercase text-sm" >Meniu</a>

      <div class="flex gap-3 font-bold uppercase text-sm">
        <a href="#" >Despre noi</a>
        <a href="#" >Contact</a>
      </div>
    </div>
  </nav>
</header>