---
import { Image } from 'astro:assets';
import Link from './Link.astro';
---

<section class="border-black border-b-2">
	<div class="mt-8 mb-16 md:mb-32 md:mt-20 container flex flex-col gap-16">
		<p class="font-semibold text-paragraph md:max-w-4xl">
			Te-ai întrebat vreodată de ce anumite gusturi rămân eterne? Descoperă ospitalitatea și arta
			noastră în fiecare strop.
		</p>
		<div class="">
			<img
			src="/uidaily/seijaku/images/oldfashioned.webp"
			alt="Imagine cu un cocktail OldFashioned"
			class="w-full h-auto aspect-[16/9] md:max-w-4xl"
			loading="lazy"
			srcset="
        /uidaily/seijaku/images/oldfashioned-256.avif 256w,
        /uidaily/seijaku/images/oldfashioned-532.avif 532w,
        /uidaily/seijaku/images/oldfashioned-704.avif 704w,
        /uidaily/seijaku/images/oldfashioned-896.avif 896w,
        /uidaily/seijaku/images/oldfashioned-1064.avif 1064w,
        /uidaily/seijaku/images/oldfashioned-1250.avif 1250w,
        /uidaily/seijaku/images/oldfashioned-1408.avif 1408w,
        /uidaily/seijaku/images/oldfashioned-1610.avif 1610w,
        /uidaily/seijaku/images/oldfashioned-1792.avif 1792w,
    "
		sizes="(min-width: 1000px) 896px, (min-width: 780px) 704px, (min-width: 620px) 532px, calc(93.33vw - 28px)"
			>

			<div class="md:max-w-2xl">
				<p class="font-semibold text-paragraph italic mt-6">Old Fashioned</p>
				<p class="text-paragraph mt-8">
					Într-o lume în care totul evoluează rapid, Old Fashioned rămâne un reper al eleganței fără
					vârstă. Am adus acest clasic la nivel de artă prin atenție la detaliu și pasiune. Gheața
					sculptată manual, whisky-ul maturat cu grijă și un strop de bitter aromatic se combină
					pentru a crea o băutură atemporală. Lăsă-te purtat într-o călătorie de savoare și amintiri
					cu fiecare înghițitură.
				</p>
			</div>
		</div>
		<div class="flex flex-col md:items-end md:justify-end">.
			<img
			src="/uidaily/seijaku/images/negroni.webp"
			alt="Imagine cu un cocktail Negroni"
			class="w-full h-auto aspect-[16/9] md:max-w-4xl"
			loading="lazy"
			srcset="
        /uidaily/seijaku/images/negroni-256.avif 256w,
        /uidaily/seijaku/images/negroni-532.avif 532w,
        /uidaily/seijaku/images/negroni-704.avif 704w,
        /uidaily/seijaku/images/negroni-896.avif 896w,
        /uidaily/seijaku/images/negroni-1064.avif 1064w,
        /uidaily/seijaku/images/negroni-1250.avif 1250w,
        /uidaily/seijaku/images/negroni-1408.avif 1408w,
        /uidaily/seijaku/images/negroni-1610.avif 1610w,
        /uidaily/seijaku/images/negroni-1792.avif 1792w,
    "
		sizes="(min-width: 1000px) 896px, (min-width: 780px) 704px, (min-width: 620px) 532px, calc(93.33vw - 28px)"
			>

			<div class="md:max-w-2xl flex flex-col md:items-end md:justify-end">
				<p class="font-semibold text-paragraph italic mt-6">Negroni</p>
				<p class="text-paragraph mt-8">
					Negroni - un echilibru perfect între putere și subtilitate, între dulce și amar. În inima
					barului nostru, acest cocktail capătă o viață proprie. Gin-ul răcoritor se împletește cu
					Campari și vermutul dulce, creând o simfonie de arome ce răsfață papilele gustative.
					Fiecare sorbitură este o invitație la relaxare și savoare.
				</p>
			</div>
		</div>
		<div>
						<img
			src="/uidaily/seijaku/images/espressomartini.webp"
			alt="Imagine cu un cocktail Espresso Martini"
			class="w-full h-auto aspect-[16/9] md:max-w-4xl"
			loading="lazy"
			srcset="
        /uidaily/seijaku/images/espressomartini-256.avif 256w,
        /uidaily/seijaku/images/espressomartini-532.avif 532w,
        /uidaily/seijaku/images/espressomartini-704.avif 704w,
        /uidaily/seijaku/images/espressomartini-896.avif 896w,
        /uidaily/seijaku/images/espressomartini-1064.avif 1064w,
        /uidaily/seijaku/images/espressomartini-1250.avif 1250w,
        /uidaily/seijaku/images/espressomartini-1408.avif 1408w,
        /uidaily/seijaku/images/espressomartini-1610.avif 1610w,
        /uidaily/seijaku/images/espressomartini-1792.avif 1792w,
    "
		sizes="(min-width: 1000px) 896px, (min-width: 780px) 704px, (min-width: 620px) 532px, calc(93.33vw - 28px)"
			>
			<div class="md:max-w-2xl">
				<p class="font-semibold text-paragraph italic mt-6">Espresso Martini</p>
				<p class="text-paragraph mt-8">
					Atunci când energia cafelei se întâlnește cu eleganța vodcăi, rezultatul este pur și
					simplu divin. Espresso Martini este un tribut adus acestei combinații seducătoare. Folosim
					cea mai aromată cafea, extrasă cu atenție, îmbinată cu vodcă de cea mai bună calitate și
					un strop de lichior de cafea, pentru a crea un cocktail care trezește și răsfață
					simțurile.
				</p>
			</div>
		</div>
		<div class="">
			<Link
				href="#"
				theme="primary"
				text="Meniul complet"
				icon={{
					name: 'bi:arrow-right-circle',
					side: 'right',
				}}
				classes="uppercase w-full xs:w-auto"
			/>
		</div>
	</div>
</section>
