---
import '../styles/global.css';

import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/montserrat/700.css';
import '@fontsource/montserrat/800.css';
import '@fontsource/montserrat/400-italic.css';
import '@fontsource/montserrat/600-italic.css';
import '@fontsource/montserrat/700-italic.css';
import '@fontsource/montserrat/800-italic.css';

import MainHead from './MainHead.astro';
import Navbar from '../components/Navbar.astro';
const { description = 'Seijaku Cocktail Bar - Servim cocktailuri relaxante din 2003' } =
	Astro.props;
---

<!doctype html>
<html lang="en">
	<MainHead {description} />
	<Navbar />
	<body class="bg-main-bg">
		<slot />
	</body>
</html>
