---
import '../styles/global.css';
import MainHead from './MainHead.astro';
import Navbar from '../components/Navbar.astro';
const { description = 'Seijaku Cocktail Bar - Servim cocktailuri relaxante din 2003' } =
	Astro.props;
---

<!doctype html>
<html lang="en">
	<MainHead {description} />
	<Navbar />
	<body class="bg-main-bg">
		<slot />
	</body>
</html>
