---
import "../styles/global.css";
import MainHead from "./MainHead.astro";
import Navbar from "../components/Navbar.astro";
const { description = "Umiya Cocktail Bar - Serving chill cocktails since 1993" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead {description} />
  <Navbar />
  <body class="font-jakarta bg-main-bg">
    <slot />
  </body>
</html>